extends layout

block content
  .container
    h1='Error'
    ul.messages
      li
        div.text='Problem posting to database:'
        div.info
          div.user=error.message
    a(href='/')='back to messageboard'
