/* Font by VileR: https://int10h.org/oldschool-pc-fonts/ */
@font-face {
  font-family: "ega";
  src:url("../fonts/ega.woff");
}

::-webkit-scrollbar {
  background-image: url("../images/scrollbar-background.png");
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-image: url("../images/scrollbar-thumb.png");
}

::-webkit-scrollbar-button {
  height: 32px;
}

::-webkit-scrollbar-button:horizontal {
  width: 32px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("../images/scrollbar-arrow-up.png");
}

::-webkit-scrollbar-button:vertical:increment{
  background-image: url("../images/scrollbar-arrow-down.png");
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("../images/scrollbar-arrow-left.png");
}

::-webkit-scrollbar-button:horizontal:increment{
  background-image: url("../images/scrollbar-arrow-right.png");
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement, 
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}

* {
  box-sizing: border-box;
}

a {
  color: #5ff;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline dashed;
}

body {
  background: #000;
  color: #aaa;
  display: flex;
  font-family: ega, Courier, monospace;
  font-size: 2rem;
  position: relative;
}

form button,
form a {
  align-items: center;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: ega, Courier, monospace;
  font-size: 2rem;
  padding: 8px;
}

form a:hover,
form a:focus,
form button:hover,
form button:focus {
  border: 4px solid #f55;
  outline: none;
  text-decoration: underline dashed;
}

form .submit {
  border: 4px solid #5ff;
  background: #5ff;
}

form .return {
  border: 4px solid #ff5;
  background: #ff5;
}

h1 {
  color: #f5f;
  font-size: 2.2rem;
}

input,
textarea {
  background: #ddd;
  border: 4px solid #ddd;
  font-family: ega, Courier, monospace;
  font-size: 2rem;
  padding: 4px;
  width: 400px;
}

input:focus,
textarea:focus {
  background: #fff;
  border: 4px solid #f55;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

li.form-buttons {
  display: flex;
  gap: 8px;
}

ul.new-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  width: 800px;
}

.crt {
  background: url("../images/crt.png");
  position: fixed;
  height: 100%;
  opacity: 0.25;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.info {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  font-style: italic;
  gap: 16px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  color: #eee;
  word-break: break-word;
}
